.default-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}

.default-carousel .swiper-button-prev,
.default-carousel .swiper-button-next {
  position: absolute;
  z-index: 10;
}

.default-carousel .swiper-button-prev::after,
.default-carousel .swiper-button-next::after {
  content: '';
}

.swiper-pagination-bullet {
  background: #4f46e5;
}
